@font-face {
  font-family: 'arimobold';
  src: url('fonts/arimo-bold-webfont.woff2') format('woff2'),
       url('fonts/arimo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimobold_italic';
  src: url('fonts/arimo-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/arimo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoitalic';
  src: url('fonts/arimo-italic-webfont.woff2') format('woff2'),
       url('fonts/arimo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoregular';
  src: url('fonts/arimo-regular-webfont.woff2') format('woff2'),
       url('fonts/arimo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: arimobold, sans-serif;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f4f7f6;


}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ----------------- Start ----------------- */
/* Generic*/
.button {
  border-radius: 0;
  color: #3a5dae;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #3a5dae;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  justify-content: center;
  width: 200px;
}

  .button:hover {
    color: #fff;
    font-weight: 1000;
    background: #3a5dae !important;
  }

.Header {
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.SubHeader {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.list {
  list-style: none;
  text-align: left;
  padding: 0;
}


/*Home Page*/
.HomePageContainer {
  background: transparent;  /*bisque;*/
  display: flex;
  flex-wrap: wrap;
}

  .BookingButtonContainer,
  .ServiceContainer,
  .OpeningHoursContainer,
  .ContactUsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;    
  }

.ServiceDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

  .ServiceSection {
    flex: 1 1 700px;
    flex: 0 1 700px;
    margin: 5px;
    /* background-color: #d1d1e0; */
  }

    .ServiceSection ul {
      padding-left: 20px;
    }

    .SectionHeader {
      width: 70%;
      margin: 0 10px;
      text-align: left;
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid #282c34;
    }

    .ServiceSection li {
      padding: 5px;

    }



/*timeslot picker*/

.TimeslotContainer {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .TimeSlotBlock {
    display: flex;
    justify-content: center;
    width: 40%;
    max-width: 200px;
  }












@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
