@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
  font-family: 'arimobold';
  src: url('fonts/arimo-bold-webfont.woff2') format('woff2'),
       url('fonts/arimo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimobold_italic';
  src: url('fonts/arimo-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/arimo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoitalic';
  src: url('fonts/arimo-italic-webfont.woff2') format('woff2'),
       url('fonts/arimo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoregular';
  src: url('fonts/arimo-regular-webfont.woff2') format('woff2'),
       url('fonts/arimo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: arimobold, sans-serif; */
  font-family: 'Russo One', cursive;
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
  color: #222831;
}

/* --------------- Generic --------------- */
/* --------------- Generic --------------- */
/* --------------- Generic --------------- */

.button {
  border-radius: 0;
  color: #222831;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #222831;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: center;
  width: 200px;
}

  .button:hover {
    color: #fff;
    font-weight: 1000;
    background: #222831 !important;
    border: 2px solid #222831;
  }

  .overlay .button:hover {
    color: #222831 !important;
    background: #fff !important;
  }

.HeaderContainer {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
}

  .HeaderContainer > h2 {
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  .Header {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding-top: 2px;
  }

  .headerIcon {
    width: 40px;
    padding-right: 15px;
    width: 30px;
    margin: 0 !important;
  }

.SubHeader {
  color: #fff;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.list {
  list-style: none;
  text-align: left;
  padding: 0;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* --------------- Home Page --------------- */
/* --------------- Home Page --------------- */
/* --------------- Home Page --------------- */

.HomePageContainer {
  background: transparent;  /*bisque;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .LandingPageContainer {
    position: relative;
    background-image: url('./images/pexels-cottonbro-3992874.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }

    .LandingPageContainer:after {
      content: '\A';
      position: absolute;
      width: 100%; height:100%;
      top:0; 
      left:0;
      /* bottom: 0; */
      background:rgba(0,0,0,0.5);
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s;
  }

    .LandingPageContainer .overlay{
      margin-top: 300px;
      z-index: 10;
    }

  .ServiceContainer,
  .OpeningHoursContainer,
  .ContactUsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* max-width: 1500px; */
    padding-bottom: 50px;
  }

.ServiceDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .ServiceSection {
    flex: 1 1 500px;
    flex: 0 1 500px;
    margin: 10px 5px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    background: #ededed;
    margin: 0 10px 30px 10px;
    padding: 5px 0 15px 0;
    box-shadow: 0px 0px 10px 0px #8d93ab;
    border-radius: 20px;
  }

    .ServiceSection ul {
      margin: 0 10%;      
    }

      .ServiceSection ul li{
        display: flex;
        justify-content: space-between;
      }

    .SectionHeader {
      padding: 5px;
      margin: 0 10%;      
    }

      .SectionHeader span {
        /* font-family: arimobold_italic; */
        font-size: 20px;
        color: #222831;
      }

    .ServiceSection li {
      padding: 2px 0;
    }


.ContactDetails {
  padding: 10px 80px;
  font-size: 20px;  
}

  .ContactDetails a {
    display: inline-block;
    /* padding-bottom: 50px; */
    text-decoration: none;
    color: #222831;
  }

  .ContactDetails .Phone,
  .ContactDetails .WeiXin,
  .ContactDetails .Email {
    display: flex;
    margin-bottom: 15px;
  }


  .ContactDetails img {
    height: 30px;
    padding-right: 20px;
  }

.ContactUsContainer > div {
  width: 100%;
}

.OpeningHoursContainer {
  background: #d6e0f0;
}

.OpeningHoursContainer h4 {
  margin: 0 0 5px 0;
}

.OpeningHoursContainer img {
  margin: 15px 0;
}

.NormalHours,
.ChristmasHours,
.ChineseNewYearHours {
  width: 100%;
}

.ChristmasHours div {
  max-width: 350px;
  margin: 0 auto;
}

.ChristmasHours div p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

#locationMap iframe{
  width: 400px;
  height: 350px;
  border: 0 
}

.FooterContainer {
  width: 100%;
  height: 70px;
  background: #222831;
  text-align: center;
  color: #fff;
  line-height: 70px;
}





/* --------------- Date picker --------------- */
/* --------------- Date picker --------------- */
/* --------------- Date picker --------------- */

.DateSelectionPageContainer,
.BookingPageContainer,
.TimeSlotPageContainer,
.ConfirmationPageContainer {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

.react-datepicker {  
  font-family: 'Russo One', cursive !important;
  color: #222831 !important;
}




/* --------------- Booking Form --------------- */
/* --------------- Booking Form --------------- */
/* --------------- Booking Form --------------- */


.BookingPageContainer .wrapper {
  padding: 20px;
}


  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    /* color: #fff; */
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


  .BookingPageContainer .AppointmentTime {
    width: 100%;
  }

    .BookingPageContainer .AppointmentTime h4 {
      padding: 0 20px;
    }

    .BookingPageContainer button {
      color: #fff;
      background: #222831;
      margin-top: 50px;
    }
 




/* --------------- Timeslot picker --------------- */
/* --------------- Timeslot picker --------------- */
/* --------------- Timeslot picker --------------- */




.TimeslotContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .TimeSlotPageContainer h4 {
    padding: 0 5px;
  }

  .TimeSlotPageContainer > * {
    width: 100%;
  }

  .TimeSlotBlock {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

    .TimeSlotBlock > a {
      margin: 0;
    }

    .ConfirmationPageContainer {
      padding-left: 10px;
      padding-right: 10px;
    }

    .ConfirmationPageContainer > div {
      width: 100%;
    }
    
    .ConfirmationPageContainer span {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 5px 0;
    }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) { 
  .ServiceSection ul {
    margin: 0 5%;
  }

  .ServiceSection {
    margin: 15px;
  }

  .ContactDetails {
    padding: 10px 0;
  }

  .TimeslotContainer {
    justify-content: center;
  }

  .TimeSlotBlock {
    padding: 5px 10px;
  }

  .TimeSlotBlock > a {
    width: 150px;
  }

}

@media (max-width: 400px) {
  .OpeningHoursContainer img {
    max-width: 290px;
  }

  .ChristmasHours div {
    max-width: 290px;
  }
  
  #locationMap iframe{
    width: 350px;
  }
}